body > main {
    display: block;
}

main img {
    width: 100%;
}

main img:first-of-type {
    display: none;
}

main img:nth-of-type(2) {
    display: block;
}

@media(min-width:35rem) {
    main img:first-of-type {
        display: block;
    }
    main img:nth-of-type(2) {
        display: none;
    }
}